{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <title>Howard Hughes Video</title>

    {% compress css %}
    <link rel="stylesheet" href="/static/store_ui/css/main.scss" type="text/scss" charset="utf-8">
    {% endcompress %}
</head>
<body>
    <div class="l-stripe"></div>
    <div class="l-container">
        <div class="l-header">
            <h1 class="a-uppercase a-text-center">
                Howard Hughes Video
            </h1>
        </div>
        <div class="l-content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script type="text/javascript" src="/static/store_ui/js/main.js"></script>
</body>
</html>